from molecule import Molecule
import qm
import mqc
from thermostat import *
from misc import data

geom = """
NUMBER_OF_ATOMS
TITLE
SYMBOL  COORDINATES  VELOCITIES
"""

mol = Molecule(geometry=geom, nstates=NSTATES)

qm = qm.QM_PROG.QM_METHOD(ARGUMENTS)

md = mqc.MDTYPE(ARGUMETNS)

bathT = THERMOSTAT(ARGUMENTS)

md.run(molecule=mol, qm=qm, thermostat=bathT, input_dir=INPUT_DIR)

