from molecule import Molecule
import bo
import mqc
from thermostat import *
from misc import data

geom = """
NUMBER_OF_ATOMS
TITLE
SYMBOL  COORDINATES  VELOCITIES
"""

mol = Molecule(geometry=geom, nstates=NSTATES)

qm = bo.PROG_NAME.QM_METHOD(ARGUMENTS)

md = mqc.MD_METHOD(ARGUMETNS)

bathT = THERMOSTAT(ARGUMENTS)

md.run(molecule=mol, theory=qm, thermostat=bathT, input_dir=INPUT_DIR)

