$title
$operating system unix
$symmetry c1
$coord    file=coord
$user-defined bonds    file=coord
$atoms
c  1-2                                                                         \
   basis =c def-TZVP
h  3-6                                                                         \
   basis =h def-TZVP
$basis    file=basis
$rundimensions
   dim(fock,dens)=2140
   natoms=6
   nshell=34
   nbf(CAO)=64
   nbf(AO)=62
   dim(trafo[SAO<-->AO/CAO])=68
   rhfshells=1
$scfmo   file=mos
$closed shells
 a       1-8                                    ( 2 )
$scfiterlimit   50
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$dft
  weight derivatives
   functional b3-lyp
   gridsize   m3
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$scfinstab rpas
$soes
 a            1
$denconv 1d-7
$last step     grad
$orbital_max_rnorm 0.19328581310639E-05
$last SCF energy change = -78.560209
$charge from dscf
          0.000 (not to be modified here)
$dipole from dscf
  x     0.00668754012215    y     0.01430648537951    z     0.03594074018568    a.u.
   | dipole | =    0.0997828552  debye
$end
